<script type="text/javascript" src="//www.google.com/jsapi">
</script>
<script type="text/javascript">
var gbsWidget = window.parent.document.querySelector('#GoogleBooksPreview + div');

function gbsNotFound()
{
    gbsWidget.setAttribute('style', 'display:none !important');
}

function initialize()
{
    gbsWidget.setAttribute('style', 'display: block !important'); // must display so that viewer can be sized correctly
    var oclcClean = 'ep.OCLC'.replace('ocm', ''); // strip ocm out of OCLC numbers that show it
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'), {
        showLinkChrome: false
    });
    viewer.load(['ISBN:ep.ISBN', 'OCLC:' + oclcClean], gbsNotFound); // if match is not found, calls function to hide the div again
}
(function ()
{
    var citeFields = window.parent.document.getElementById('citationFields');
    if (citeFields)
    {
        if ((citeFields.innerHTML.indexOf('ISBN:' > -1)) || (citeFields.innerHTML.indexOf('OCLC:' > -1)))
        {
            google.load("books", "0");
            google.setOnLoadCallback(initialize);
        }
    }
})();
</script><!-- <div> dummy text</div> -->
<div id="viewerCanvas" style="height: 600px;"></div>